.video-container, .below {
    width: 70%;
    float: left;
}

.below {
    overflow: hidden;
    min-height: 100px;
    max-width: calc(100% - 20px);
}

.container a, .container a:active, .container a:visited {
    color: #FBBF16;
}

.tab-control {
    list-style-type: none;
    display: inline-block;
    margin: 0 0 0 1px;
    padding-left: 0;
}
.tab-control li {
    cursor: pointer;
    float: left;
    /*border-top-right-radius: 5px;*/
    /*border-top-left-radius: 5px;*/
    padding: 0 5px;
    /*color: #1A64B7;*/
    /*background-color: #FBBF16;*/
    border: 1px solid #FBBF16;
    color: #FBBF16;
    border-bottom: none;
    margin-right: 5px;
}
.tab-control li.active-tab {
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), #1A64B7);
    background: -o-linear-gradient(rgba(0, 0, 0, 0), #1A64B7);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), #1A64B7);
    background: linear-gradient(rgba(0, 0, 0, 0), #1A64B7);
}

.tab-control li:not(.active-tab):hover {
    background-color: #1A64B7;
}

.admin-tab {
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.below > div {
    background-color: #eee;
    color: black !important;
    min-height: 50px;
    overflow: auto;
    /*position: relative;*/
    /*top: -8px;*/
    height: calc(100% - 28px);
}

div[data-key="options"] b {
    padding: 0 3px;
    border: 1px solid white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.sr_widget_footer {
    display: none;
}

.sr_widget .stats_table {
    margin-bottom: 0 !important;
}

.chat-container {
    width: 30%;
    padding-left: 10px;
    float: left;
}

.chat-container iframe {
    width: calc(100% - 10px);
    float: right;
}

.logo {
    width: auto;
    height: 100%;
    float: left;
    cursor: pointer;
}

.clear {
    clear: both;
}

.container {
    padding: 20px;
    margin-top: 50px;
    padding-bottom: 45px;
    font-size: 1.1em;
    line-height: 1.6em;
}

div[data-tab] {
    border: 1px solid gray;
}

.link-item, .admin-action {
    -webkit-border-radius: 5px;
    position: relative;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    width: 50%;
    min-width: 500px;
    margin: 0 auto;
}

.link-item {
    text-align: left;
    cursor: move;
}

.poll-list {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

.poll-list li {
    text-align: left;
    cursor: pointer;
    padding: 3px 7px 3px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 10px;
    min-width: 150px;
}

.poll-list li.active {
    border: 1px solid white;
    background-color: #5cb85c;
}

.poll-list li.active:before {
    content: '\2714';
}

.poll-list li:before {
    content: '\25a2';
    position: relative;
    left: -5px;
}

.link-item span.delete {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    margin-top:10px;
    margin-right: 10px;
    background-color: #ff4332;
    color: white;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.admin-action {
    font-size: 2.5em;
    min-width: 100px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    color: #1A64B7;
    background-color: #FBBF16;
    border: 2px solid #1A64B7;
}

footer {
    text-transform: uppercase;
    width: 100%;
    padding: 5px;
    color: #FBBF16;
    background-color: #1A64B7;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 1.2em;
}

footer a {
    color: inherit;
    font-weight: bold;
}

div[data-tab] {
    position: relative;
    top: -8px;
}

nav span.mobile-nav {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
    float: right;
}

nav a {
    display: block;
    float: left;
    height: 100%;
    color: inherit;
    margin-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 1.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 10px;
}

nav a.active {
    color: #FBBF16;
    background: -moz-linear-gradient(#333, #1A64B7);
    background: -o-linear-gradient(#333, #1A64B7);
    background: -webkit-linear-gradient(#333, #1A64B7);
    background: linear-gradient(#333, #1A64B7);
}

nav a:not(.active):hover {
    color: #FBBF16;
    background-color: #1A64B7;
    /*border: 2px solid #1A64B7;*/
}

nav {
    height: 55px;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    color: #1A64B7;
    background-color: #FBBF16;
    padding: 10px;
    font-weight: 500;
}

#pw_input, #pw_user {
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
}

ul.polls li:nth-child(even) {
    background-color: #e5aa16;
}


div.opt-votes {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: absolute;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 5px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    height: 35px;
    text-overflow: ellipsis;
    padding: 3px 7px;
    /*cursor: pointer;*/
    color: white;
}

.vip-del {
    cursor: pointer;
    font-size: 0.75em;
}

div.vote-results {
    display: inline-block;
    text-align: left;
}

input[type="submit"]:hover {
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), #1A64B7);
    background: -o-linear-gradient(rgba(0, 0, 0, 0), #1A64B7);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), #1A64B7);
    background: linear-gradient(rgba(0, 0, 0, 0), #1A64B7);
    color: #FBBF16;
}

div[data-votes] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 5px;
    display: inline-block;
    min-width: 100px;
    white-space: nowrap;
    max-width: 400px;
    overflow: hidden;
    height: 35px;
    text-overflow: ellipsis;
    padding: 3px 7px;
    /*cursor: pointer;*/
    background-color: #FBBF16;
    color: #333;
}

input[type="submit"] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*border: none;*/
    color: #1A64B7;
    background-color: #FBBF16;
    padding: 3px 8px;
    border: 2px solid #FBBF16;
    font-weight: 500 !important;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
}

.sr_widget .stats_table td {
    border: none !important;
}

.sr_widget .stats_table th {
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    text-align: center;
}

.below a {
    color: #1A64B7 !important;
}

.pw_form {
    width: 100vw;
    text-align: center;
    position: absolute;
    left: 0;
    margin-left: 0 !important;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a[href="/polls"] {
    position: relative;
}

a[href="/polls"]:hover > ul.polls, ul.polls:hover {
    display: block;
    position: absolute;
    left: -50%;
    width: 200px;
    padding-top: 20px;
    top: 25px;
    font-size: 0.8em;
    z-index: -1;
}

ul.polls li {
    padding: 0 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #FBBF16;
}

a.poll_link {
    margin: 5px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    line-height: 20px;
    border: 1px solid #333;
    color: #333;
    font-weight: 500;
    background-color: #FBBF16;
    margin-right: 0;
}

ul.polls li:hover {
    /*color: #FBBF16;*/
    /*background-color: #1A64B7;*/
    border: 2px solid #1A64B7;
}

ul.polls {
    list-style-type: none;
    display: none;
    padding: 5px;
    background-color: #FBBF16;
    color: #1A64B7;
    margin: 0;
    position: relative;
    left: -10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: 300;
}

span.hand {
    font-size: 1.5em;
    display: none;
    line-height: 1.5em;
    cursor: pointer;
    margin-left: 10px;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .video-container, .chat-container {
        width: 100%;
        float: none;
    }

    .container {
        padding-bottom: 50px;
    }

    .chat-container {
        padding-left: 0;
    }

    .below {
        margin-bottom: 10px;
    }

    .chat-container iframe {
        float: right;
        width: 100%;
    }
}

.desktop-nav {
    display: inline-block;
}

@media (max-width: 500px) {
    div[data-votes] {
        max-width: 100%;
    }
}



/*mobile*/
@media (max-width: 600px) {
    nav span.mobile-nav, nav span.hand {
        display: inline;
    }
    footer {
        font-size: 1em;
    }
    nav {
        position: relative;
    }
    .container {
        margin-top: 0;
    }
   /* .desktop-nav {
        display: none;
        position: absolute;
        z-index: 9999;
        width: 100%;
        left: 0;
        top: 60px;
    }*/
    nav a {
        display: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background-color: #FBBF16;
        margin-left: 0;
        width: calc(100% + 20px);
        position: relative;
        left: -10px;
        top: 9px;
    }
    nav a:last-child {
        margin-bottom: 30px;
    }
    ul.polls {
        position: relative !important;
        display: none;
        width: calc(100% + 20px) !important;
        border-radius: 0 !important;
        left: -10px !important;
        top: -1px !important;
        padding-top: 5px !important;
    }

    a[href="/polls"]:hover > ul.polls, ul.polls:hover {
        display: block !important;
    }
}

@media (max-width: 275px) {
    span.hand {
        display: none !important;
    }
}